@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Itim&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Itim&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Protest+Revolution&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li,a,button,i{
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    color: #000000;
    cursor: pointer;
}
:root{
    --color: #012970;
    --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Nunito", sans-serif;
    --nav-font: "Inter", sans-serif;
}
body, html {
    background-color: #fff;
    color: rgb(0, 0, 0);
    width: 100vw;
    height: 100%;
}
aside{
    height: 100vh;
}
h2,h3{
    color: #012970;
    font-family: var(--heading-font);
}
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    padding: 0 60px;
    background-color: #a90808;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.29);
    color: black;
    display: flex;
    justify-content: space-between;
}
.logo{
    margin-top: 12px;
    font-size: 20px;
}
/* .course-form{
    top: 6%;
    left: 15%;
    position: absolute;
    z-index: 1;
    width: 70%;
    margin: auto;
    background-color: #ffffff;
}
.course-box-left{
    padding: 30px;
    width: 50%;
    background-color: #000000;
}
.course-box-right{
    width: 50%;
} */



.header li:hover .hover-lang{
    display: block;
}
.hover-lang{
    padding: 10px 20px;
    max-width: 150px;
    position: absolute;
    display: none;
    top: 0;
    background-color: #ffffff;
    margin-top: 50px;
    z-index: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.275);
    transition: 0.3s ease-in-out;
}
.hover-lang1 li{
    width: 100%;
    border-bottom: 1px solid black;
}
.hover-lang1 li:hover{
    background-color: aliceblue;
    
}




#login{
    color: black;
    padding: 10px 20px;
}
.login-form{
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: none;
    position: absolute;
    background-color: #000000c7;
}
.login-content{
    padding: 20px 20px;
    height: 500px;
    width: 80%;
    margin: auto;
    margin-top: 10%;
    background: linear-gradient(to right, #b0f6f0 ,#b3d8fd , #a4ffda);
    background-color: aliceblue;
    border-radius: 10px;
}
.close-login{
    display: flex;
    justify-content: space-between;
}
.close-login i{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(142, 238, 255);
    border-radius: 10px;
}
.login-box{
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
}
.login-sub{
    width: 40%;
    padding: 20px;
    background-color: #fff;
    height: 100%;
}
.login-sub-form{
    width: 40%;
}
.login-modal{
    border-radius: 5px;
    padding: 20px;
    height: 100%;
    background: linear-gradient(135deg, #e0f7fa, #ffffff); /* Gradient background */
}
.header1 {
    font-size: 1.6em;
    margin-bottom: 15px;
    color: #333; 
    text-align: center;
}
.form-group{
    margin-bottom: 5px;
}
.form-group label{
    display: block;
    margin-bottom: 5px;
    color: #555; 
}
.form-group input{
    width: 100%;
    padding: 10px;
}
.login-btn{
    padding: 10px 20px;
}








.header ul li{
    display: inline-block;
    padding: 15px 10px;
}
.main-content {
    background-color: aliceblue;
    display: flex;
    flex: 1;
    overflow: hidden; /* Prevent overflow of the main content area */
}

.aside {
    
    background-color: #ffffff;
    width: 250px; /* Fixed width for the sidebar */
    padding: 35px;
    overflow-y: hidden; 
    z-index: 0;
}
.aside ul li {
    padding: 8px 10px;
    font-family: var(--heading-font);
    font-weight: 700;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.aside ul li:hover{
    background: skyblue;
}










.content {
    flex: 1; /* Take the remaining space */
    padding: 30px;
    overflow-y: auto; /* Enable scrolling for main content */
}
.content-box{
    display: flex;
    justify-content: space-between;

}
.content-left{
    width: 70%;
}
.content-left-box{
    display: flex;
    justify-content: space-between;
}
.content-left-box1{
    background: #fff;
    box-shadow: 0 0 20px rgba(224, 229, 233, 0.664);
    padding: 20px;
    width: 32%;
    transition: 0.2s ease-in-out;
}
/* .content-left-box1:hover{
    transform: scale(1.02) translateY(-10px);
} */
 .about-me{
    display: flex;
    background-color: #fff;
 }
.about-img img{
    width: 23vw;
    padding: 20px;
}
/* .about-me:hover img{
    transition: 0.2s ease-in-out;
    transform: scale(1.05);
} */
.about-des{
    padding: 20px;
}
.about-des button{
    padding: 10px 20px;
}

        /* About content right  */

.content-right{
    width: 26%;
}
.profile-box{
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(224, 229, 233, 0.664);
    padding: 20px 20px;
    width: 100%;
    background-color: #fff;
}
.pf-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-box img{
    width: 10vw;
    border-radius: 50%;
    transform: rotate(20deg);   
}
.box-i{
    justify-content: center;
    align-items: center;
    display: flex;
}
.fa-twitter{
    background-color:  #1DA1F2;
}
.fa-facebook{
    background-color: #3b5998;
}
.fa-youtube{
    background-color: #FF0000;
}
.box-i i{
    cursor: pointer;
    border-radius: 50%;
    margin-left: 10px;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    transition: 0.1s ease-in-out;
}
.accordion{
    margin-top: 10px;
    padding: 20px;
    background-color: #fff;
}
.accordion-header{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.accordion-content{
    padding-top: 10px;
}


        /* About section 3 desgin  */

.section3{
    display: flex;
    justify-content: space-between;
}
.section3-left{
    padding: 20px;
    width: 48%;
    background-color: #fff;
}
.section3-right{
    padding: 20px;
    width: 48%;
    background-color: #fff;
}
.section3-btn{
    padding: 10px 20px;
}

        /* About teamwork design  */

.team-work{
    padding: 20px;
    background-color: #fff;
}
.team-work ul{
    display: flex;
}
.team-work ul li{
    margin-right: 20px;
    padding: 5px 10px;
    background-color: aliceblue;
}
.phyron-box{
    display: flex;
}
.phyron-img img{
    width: 20vw;
    padding: 5px;
}
.phyron-des{
    margin-left: 20px;
}







@media (max-width: 600px) {
}
@media (min-width: 601px) and (max-width: 768px) {
    .aside{
        display: none
    }
    .content-box{
        width: 100%;
        display: grid;
        /* grid-template-columns: repeat(auto-fill, minmax(550px, 1fr)); */
    }
    .content-left{
        width: 100%;
    }
    .content-right{
        width: 100%;
    }
    .about-me{
        width: 100%;
    }
}